
<If "%{REQUEST_METHOD} == 'OPTIONS'">
    Header always set Access-Control-Max-Age "86400"
    Header always set Content-Type "text/plain charset=UTF-8"
    Header always set Content-Length "0"
    Header always set Access-Control-Allow-Origin "https://tamarjewelry.shop"
    Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header always set Access-Control-Allow-Headers "Authorization, Content-Type, X-Requested-With"
    Header always set Access-Control-Allow-Credentials "true"
    Require all granted
</If>

<Files *>
    Order Allow,Deny
    Allow from all
</Files>

<IfModule mod_rewrite.c>
    # Enable URL Rewriting
    RewriteEngine On
    # Rewrite rule to redirect requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]

    # Handle preflight requests
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]

  Header set Access-Control-Allow-Origin "https://tamarjewelry.shop" 
  Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS" 
  Header set Access-Control-Allow-Headers "Authorization, Content-Type, X-Requested-With" 
  Header set Access-Control-Allow-Credentials "true"
</IfModule>
Redirect 301 /old-page.html /new-page.html
