body {
  display: flex;
  flex-flow: column;
  align-items: center;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid black; */
}

header {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid rgb(20, 177, 75); */
}

/* ~~~~~~ Mobile Menu ~~~~~~~ */

.menubars-svg {
  display: none;
}

#menubars-svg {
  display: none;
}

#show-menu-button {
  display: none;
}

/* ````` Mobile Menu END ``````` */

/* ~~~~~~~ Desktop Navbar ~~~~~~~~~ */

.menu {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  z-index: 7;
  position: fixed;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(20, 177, 35); */
}

.menu__ul {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 50px;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(228, 152, 37); */
}

.main-nav-tab {
  width: 100%;
  height: 50px;
  list-style: none;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(46, 37, 228); */
}

.main-nav-tab:hover {
  cursor: pointer;
}

/* .li.sticky:hover {
  background-color: rgba(212, 199, 171, 0.925);
} */

a {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50px;
  color: black;
  font-size: 1.1rem;
  text-decoration: none;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(40, 228, 37); */
}

a:hover {
  color: rgb(152, 152, 152);
}

.categories-list {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  text-align: center;
  list-style: none;
  border: 1px solid;
  position: relative;
  top: -20rem;
  background-color: rgba(250, 235, 215, 0.5);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  opacity: 0;
  z-index: -1;
}

.categories-list--active {
  opacity: 1;
  z-index: 1;
  transform: translateY(20rem);
}

.category-item {
  position: relative;
}

.category-item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.menu.sticky {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  z-index: 8;

  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease;
  position: fixed;
}

.menu.hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.icons-container {
  display: none;
}
.shoppingcart-svg {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  width: 25px;
  height: 25px;
  left: 600px;
}

.shoppingcart-svg:hover {
  fill: rgb(121, 221, 255);
}

.main-nav-tab.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  width: 100px;
  height: 30px;
  margin: 5px;
  border: 1px solid;
  border-radius: 10px;
}

.login-btn:hover {
  color: aqua;
  cursor: pointer;
}

.cart-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  position: absolute;
  right: 5.3%;
  top: 0.8%;
  background-color: rgb(0, 255, 213);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
}

/* ```````Navbar END`````````` */

.main-images-container {
  display: flex;
  overflow: hidden;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid rgb(177, 20, 143); */
}
.main-image-div{
  object-fit: contain;
  position: relative;
  bottom: 9rem;

}
.workshop-image {
  width: 100vw;
  /* height: 100%; */
  transition: transform 2s;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid rgb(75, 20, 177); */
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;

  max-height: 100rem;
  width: 100%;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(37, 136, 228); */
}

h1 {
  font-weight: 100;
  background-color: rgba(255, 166, 0, 0.4);
  font-family: MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial,
    sans-serif;
  text-align: center;

  align-self: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(40, 228, 37); */
}

.first-row-container,
.second-row-container {
  display: flex;
  flex-flow: row;
  box-sizing: border-box;
  margin-bottom: 4rem;

  width: 100%;
  max-height: 100%;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 50, 228); */
}

/* .workshop-description {
  background-color: rgba(245, 245, 220);
  box-shadow: 12px 2px 30px 2px rgb(168, 163, 154);
  font-size: 1.2vw;
  padding: 2rem;
  

  width: 50%;
  height: 100%;

  ~~~~ FOR DEBUGGING~~~~
  border: 2px solid rgb(40, 228, 37);
} */

.workshop-description-second,
.workshop-description {
  background-color: rgba(245, 245, 220, 0.9);
  box-shadow: 12px 2px 30px 2px rgb(168, 163, 154);
  font-size: 1.3vw;
  padding: 1rem;
  box-sizing: border-box;

  width: 50%;
  max-height: 100%;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 155, 228); */
}

.workshop-description--img {
  width: 50%;
  height: 100%;

  box-shadow: 1px 3px 30px 2px rgba(133, 143, 143, 0.646);

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(129, 37, 228); */
}

.img-background {
  position: relative;
  top: 17rem;
  height: 12rem;
  width: 100%;
  background-color: aquamarine;
  z-index: -10;
}

.img-background-vertical {
  position: relative;
  top: -10rem;
  right: 35rem;
  width: 12rem;
  height: 100rem;
  background-color: rgba(163, 127, 255, 0.3);
  box-shadow: 3px;
  align-self: self-end;
  transform: rotate(30deg);
  z-index: -10;
}

.img-background-middle {
  position: relative;
  top: 18rem;
  height: 10rem;
  width: 100%;
  background-color: aquamarine;
  z-index: -1;
}

.img-background-last {
  position: relative;
  top: 18rem;
  height: 10rem;
  width: 100%;
  background-color: aquamarine;
  z-index: -10;
}

.workshop-costs {
  background-color: rgba(245, 245, 220, 0.9);
  box-shadow: 12px 2px 30px 2px rgb(168, 163, 154);
  width: 60vw;
  font-size: 1.2rem;
  padding: 1rem;

  text-align: center;
  align-self: center;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 155, 228); */
}

.go-to-top {
  width: 10%;
  margin: 4rem;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.712);
  padding: 5px;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 155, 228); */
}

.go-to-top:hover {
  border: rgb(113, 101, 33), solid;
  color: rgb(113, 101, 33);
  cursor: pointer;
  background-color: rgba(224, 241, 152, 0.377);
}

.footer {
  width: 100%;
  background-color: rgba(161, 160, 65, 0.249);

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(4, 255, 0); */
}

.columns-container {
  display: flex;
  justify-content: space-around;
  width: 100%;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(4, 255, 0); */
}

.footer-right-column,
.footer-middle-column,
.footer-left-column {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 30px;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(89, 0, 255); */
}
.footer-middle-column {
  height: 100%;
}

.footer-item {
  color: white;
  width: auto;
  height: auto;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 1px solid green; */
}

.footer-item:hover {
  color: black;
}

.rights-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 1px solid rgb(210, 28, 140); */
}

.rights-text {
  color: white;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 1px solid green; */
}
