<nav class="menu">
<ul class="menu__ul">
  <li class="li"><a href="#">Home</a></li>
  <li class="li categories-tab ">
    <a href="#">Categories ▾</a>
    <ul class="categories-list">
      <li class="category-item category-item--necklace">
        <a href="./html/categories/necklaces.html"
          >Necklaces</a
        >
      </li>
      <li class="category-item category-item--crochet-necklace">
        <a
          href="./html/categories/crochetNecklaces.html"
        
          >Crochet Necklaces</a
        >
      </li>
      <li class="category-item category-item--hoops">
        <a href="./html/categories/hoops.html"
          >Hoop Earrings</a
        >
      </li>
      <li class="category-item category-item--bracelets">
        <a href="./html/categories/bracelets.html"
          >Bracelets</a
        >
      </li>
    </ul>
  </li>
  <li class="li">
    <a href="./html/jewelry-workshop.html"
      >Jewelry Workshop</a
    >
  </li>
  <li class="li">
    <a href="./html/about.html">About</a>
  </li>
  <li class="li" id="contact-me">
    <a href="./html/contact-me.html">Contact Me</a>
  </li>
  <li class="li">
    <a href="./html/cart.html">
      <svg class="shoppingcart-svg">
        <use xlink:href="#shoppingcart-svg"></use>
      </svg>
    </a>
  <span class="cart-number"><span>0</span></span>
</ul>
</li>
</nav>