<footer class="footer">
  <div class="columns-container">
    <div class="footer-left-column">
      <a href="#" class="footer-item">Home</a>
      <a href="./html/categories/necklaces.html" class="footer-item"
        >Necklaces</a
      >
      <a href="./html/categories/crochetNecklaces.html" class="footer-item"
        >Crochet Necklaces</a
      >
      <a href="./html/categories/hoops.html" class="footer-item"
        >Hoop Earrings</a
      >
      <a href="./html/categories/bracelets.html" class="footer-item"
        >Bracelets</a
      >
    </div>

    <div class="footer-middle-column">
      <a href="./html/policies.html" class="footer-item"
        >Shipping & Cancellation Policy</a
      >
      <a href="./html/contact-me.html" class="footer-item">Contact Me</a>
    </div>
    <div class="footer-right-column">
      <a href="./html/jewelry-workshop.html" class="footer-item"
        >Jewelry Workshop</a
      >
      <a href="./html/about.html" class="footer-item">About</a>
    </div>
  </div>
  <div class="rights-container">
    <span class="rights-text"
      >© 2024 Tamar Kfir Jewelry. All Rights Reserved.</span
    >
  </div>
</footer>
